body {
  font-family: 'Arial', sans-serif;
  background-color: #f4f4f4;
  margin: 0;
}

.app {
  max-width: 2000px;
  margin: 0 auto;
  padding: 20px;
  align-items: center;
  
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffc107;
  padding: 15px;
  border-radius: 10px;
  color: #fff;
}

.menu-icon, .search-icon {
  font-size: 24px;
  cursor: pointer;
}

.logo {
  font-size: 24px;
  font-weight: bold;
}

h2 {
  margin-top: 30px;
  font-size: 24px;
  color: #333;
}
h3{
  color: #333;
}
.movie-list {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.movie {
  text-align: center;
  background-color: #fff;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  width: 23%;
  cursor: pointer;
}

.movie img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}

.movie-info {
  margin-top: 10px;
}

.movie-info h3 {
  font-size: 18px;
  margin: 10px 0 5px;
}

.movie-info p {
  color: #777;
  font-size: 14px;
}

/* Popup Styling */
.movie-popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup-content {
  background-color: white;
  width: 80%;
  max-width: 800px;
  padding: 20px;
  display: flex;
  border-radius: 10px;
  position: relative;
}

.popup-poster {
  width: 40%;
  border-radius: 10px;
}

.popup-info {
  padding: 20px;
  flex: 1;
}

.popup-info h3 {
  font-size: 24px;
}

.popup-info p {
  margin: 15px 0;
  color: #555;
}

.play-button {
  padding: 10px 20px;
  background-color: #f39c12;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.play-button:hover {
  background-color: #e67e22;
}

.close-popup {
  position: absolute;
  top: 15px;
  right: 15px;
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  color: #888;
}
